/* =============================================================================================== */
/* ======================================= Main Styles =========================================== */
/* =============================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

::selection {
    background: crimson;
    color: #fff;
}

img {
    pointer-events: none;
}

/* =============================================================================================== */
/* ======================================= Landing Page ========================================== */
/* =============================================================================================== */

.landingPage {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingPage .topSide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingPage .topSide .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingPage .topSide .logo a img {
    width: 100px;
}

.landingPage .topSide .logo a p.websiteName {
    font-size: 21px;
    color: #dc143c;
}

.landingPage .topSide {
    font-size: 32px;
    color: crimson;
    text-align: right;
}

.landingPage .navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.landingPage .navBar a.link {
    transition: all 0.2s ease-in-out;
}

.landingPage .navBar a.link:hover {
    color: crimson;
    text-decoration: underline;
}

.landingPage .mainImage {
    position: absolute;
    bottom: 0;
    z-index: -1;
    max-width: 50%;
}

.landingPage .mainImage img {
    width: 700px;
    height: 700px;
}

.landingPage .bottomLeftSide {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.landingPage .bottomLeftSide p.job {
    font-size: 32px;
}

.landingPage .bottomLeftSide p.location {
    font-size: 21px;
    color: #ccc;
}

.landingPage .bottomLeftSide p.location span {
    color: crimson;
}

.landingPage .bottomRightSide {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.landingPage .bottomRightSide a i {
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}

.landingPage .bottomRightSide a i:hover {
    color: crimson;
}

.about_container{
    width: 100%;
}
.ImageSection{
    grid-area: imageSect;
}
.infoSection{
    grid-area: infoSect;
}
.skillSection{
    grid-area: skillSect;
}


.about_container .about_contents{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas: 'imageSect infoSect'
                         'skillSect skillSect';
}

.about_contents .ImageSection{
    position: relative;
    min-width: 300px;
    height: 380;
}

.ImageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about_contents .ImageSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid red;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.infoSection h1{
    color: red;
    font-size: 30px;
    font-family: Helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;

}

.infoSection h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: red;

}
.infoSection h1::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% 1px);
    left: 0px;
    background-color: red;
}

.infoSection h2{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: red;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.infoSection p{
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

.personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span{
    color: red;
    letter-spacing: 1px;
}

.infoSection button{
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: #aaabb0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}
.infoSection button:hover{
    color: red;
    border-color: red;
}

.skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}
.skillSection .subject{
    font-size: 17px;
    font-weight: thin;
    color: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.progress_bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}
.progress_line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    box-shadow: -1px -1px 2px #222222,
                1px 1px 2px   #111111;
    border-radius: 15px;
}
.progress_line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
}
@media(max-witdh: 1068px){
    .about_container .about_contents{
        grid-template-areas: 'imageSect skillSect'
                            'infoSect infoSect';

    }
    .skillSection{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

/* =============================================================================================== */
/* ======================================= Responsive ============================================ */
/* =============================================================================================== */

@media screen and (max-width: 768px) {
    .landingPage .topSide .freelancerName {
        display: none;
    }

    .landingPage .mainImage {
        top: 50%;
        transform: translateY(-50%);
    }

    .landingPage .bottomLeftSide {
        bottom: 6rem;
    }
}

@media screen and (max-width: 400px) {
    .landingPage .mainImage {
        display: none;
    }
}